.container{
    overflow:hidden;
    /* background: 
      linear-gradient(45deg, rgba(0,103, 255, 0.3), rgba(0, 150, 80, 0.9)); */
      /* url('../../assets/img/login-3.png') center center no-repeat; */
  }
  
  .signUpCard{
    display: block;
    border: 1px solid #000;
    border-radius: 4px;
    background-color: rgba(255,255,255,0.85);
    width: 500px;
    height: 420px;
    margin: auto;
    margin-bottom: 30px;
    margin-top: 30px;
    padding: 80px 30px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.17), 0 1px 2px rgba(0,0,0,0.24);
    overflow: hidden;
  }

  .label{
    text-align: center;
    font-size: medium;
  }
  
  .formInput{
    margin: auto;
    margin-top: 31px;
    display: block;
    width: 84%;
    height: 28px;
    border-radius: 4px;
    background: #ecf0f1;
    border: #ccc 1px solid;
    padding: 8px;
    font-size: 1em;
  }
  
  .btn{
    height: 48px;
    width: 36%;
    margin: auto;
    margin-top: 40px;
    margin-left: 20vh;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 23px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.17), 0 1px 2px rgba(0,0,0,0.24);
    transition: ease-in 0.2s;
  }

  #btn-signUp{
    background-color:#4A4875;
}

#btn-signUp:hover{
    background-color:#5A5895;
    transition: ease-in 0.2s;
}
  
  h2{
      text-align: center;
      /* height: 2em; */
  }
  
  a {
      text-decoration: none;
  }
  
  .label{
      font-size: 0.9em;
  }